
.producto-cards{
    padding: 30px 0;
}
.container{
    padding: 15px 20px;
    margin: 0 10;
    width: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 30px; 

}
.product-card{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    box-shadow: 0 .5rem  30px rgba(0, 0, 0, .2);
}
div .label1 {
   
    left: 0;
    top: 20px;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-img img{
    padding: 20px;
    width: 180px;
    height: 200px;
}
.product-footer{
    width: 100%;
    text-align: center;
}
.product-footer .puntuation {
    font-size: 25px;
    color: #f0da15;
}
.product-price .details p{
    font-size: 15px;
    overflow: hidden;
}
.product-description h3{ 
    font-weight: 500;
    font-size: 17px;
}
.product-footer .details{ 
    display: inline-flex;
}
.product-footer .details button{ 
    margin: 15px 50px;
    padding: 2px 20px;
    align-self: right;
    border: none;
    background-color: #c5c1c0;

    border-radius: 10%;
}
.product-footer .details button:hover{
    background-color: #d1b8af;
}