<div class="form-new">
  <div class="input-form">
    <h1>Nuevo Navbar</h1>

    <%= render "form", navbar: @navbar %>
    <br>

    <div>
      <%= link_to t('common.back'), navbars_path %>
    </div>
  </div>
</div>
